@page "/Entry/{Id}"
@using Markdig
@inject IContentLoader Loader

<h3>@_content.Title</h3>
@foreach (var part in _content.ContentParts)
{
    if(part.Type == Lib.Enums.ContentType.MarkDownText)
    {
        <Entry>@(Markdown.ToHtml(part.Content))</Entry>  
    } 
}


@code {
    [Parameter]
    public string Id { get; set; } ="";
    Guid _id;
    ContentModel _content = new();

    protected override async Task OnParametersSetAsync()
    {
        _id = Guid.Parse(Id);
        _content = await Loader.GetContentAsync(_id);

    }
}
