@page "/"
@inject IContentListLoader Loader

<div class="d-flex flex-column flex-grow-1 bd-highlight">
    <div class="bd-highlight bd-masthead mb-5 container">
        <h3>Blazorblog</h3>
        <h4>Static without Server or DB</h4>
    </div>
    @if (_loading)
    {
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    }
    @foreach (var item in ContentList)
    {
        <div class="container masthead-followup px-4 px-md-3" >
            <section class="row mb-5 pb-md-4 align-items-center p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="width:90%" @key="item">
                <div class="highlight">
                    @for (int i = 0; i < item.Tags.Length; i++)
                    {
                        @item.Tags[i]
                        if (i < item.Tags.Length - 1)
                        {
                            <span>, </span>
                        }
                    }
                </div>
                <div class="">
                    <h4>@item.Title</h4>
                    @((MarkupString)item.ContentSnippet)
                    <a href=@($"/Entry/{item.Id}")>Read more...</a>
                </div>
            </section>
        </div>
    }

</div>

@code {

    private IndexEntryModel[] ContentList { get; set; } = Array.Empty<IndexEntryModel>();
    bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        ContentList = await Loader.GetContentListAsync();
        if (ContentList[0].Tags is null) ContentList[0].Tags = new string[] { "tag1", "tag2" };
        _loading = false;
    }
}